#title {
  color: gray;
  font-family: 'Courier New', Courier, monospace;
}

#nome,
#email,
#header-resposta,
#area-resposta,
#area-novidades,
#area-divulgacao {
  display: block;
}

.buttons {
  display: block;
  margin-top: 10px;
}

#header-resposta {
  margin-bottom: 5px;
}

#nome,
#email,
#area-resposta,
#montanhas,
#data-preferencial {
  margin-bottom: 20px;
}

#btn-enviar,
#btn-limpar {
  width: 100px;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  background-color: transparent;
}

#novidades-sim {
  margin-bottom: 15px;
}
